* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    margin: auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: initial;
}

nav p {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.download-cv {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    font-family: initial;
}

.portfolio-title {
    text-align: center;
    margin: 40px 0;
}
.portfolio-title h1 {
    font-size: 60px;
    letter-spacing: 8px;
    font-family: initial;
}

.figma{
    text-align: center;
    display: flex;
}
.figma1{
    width: 50%;
    margin-left: 5%;
}
.figma1 img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}
.figma2 {
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
}

.uiux{
    text-align: center;
    display: flex;
}
.uiux1{
    width: 50%;
    margin-left: 5%;
}
.uiux2 img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}
.uiux2 {
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
}

.html-css{
    text-align: center;
    display: flex;
}
.html-css1{
    width: 50%;
    margin-left: 5%;
}
.html-css1 img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}
.html-css2 {
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
}

.tailwind{
    text-align: center;
    display: flex;
}
.tailwind1{
    width: 50%;
    margin-left: 5%;
}
.tailwind2 img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}
.tailwind2 {
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
}

.social-icons {
    display: flex;
    justify-content:end;
    gap: 20px;
    margin-top: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    text-indent: -50px;
}

footer {
    margin-top: 20px;
}

.email {
    margin-top: 10px;
    text-indent: 50px;
    transform: translateY(-20px);
    font-size: 14px;
    color: #333;
}