* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    margin: auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-family: initial;
}

nav p {
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.download-cv {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    font-size: 30px;
    font-family: initial;
}

.portfolio-title {
    text-align: center;
    margin: 40px 0;
}
.portfolio-title h1 {
    font-size: 100px;
    letter-spacing: 10px;
    font-family: initial;
}

.figma{
    text-align: center;
    display: flex;
}
.figma1{
    width: 50%;
    margin-left: 5%;
}
.figma1 img {
    height: auto;
    margin-bottom: 10px;
}
.figma2 {
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
    padding-top: 10%;
    font-size: 30px;
}

.uiux{
    text-align: center;
    display: flex;
}
.uiux1{
    width: 50%;
    margin-left: 5%;
    padding-top: 10%;
    font-size: 30px;
}
.uiux2 img {
    height: auto;
    margin-bottom: 10px;
}
.uiux2 {
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
}

.html-css{
    text-align: center;
    display: flex;
}
.html-css1{
    width: 50%;
    margin-left: 5%;
}
.html-css1 img {
    width: 1100px;
    height: auto;
    margin-bottom: 10px;
}
.html-css2 {
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
    padding-top: 10%;
    font-size: 30px;
}

.tailwind{
    text-align: center;
    display: flex;
}
.tailwind1{
    width: 50%;
    margin-left: 5%;
    padding-top: 10%;
    font-size: 30px;
}
.tailwind2 img {
    width: 1200px;
    height: auto;
    margin-bottom: 10px;
}
.tailwind2 {
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
}

.social-icons {
    display: flex;
    justify-content:end;
    gap: 20px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    text-indent: -50px;
}

footer {
    margin-top: 50px;
}

.email {
    text-indent: 50px;
    transform: translateY(-20px);
    font-size: 30px;
    color: gray;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: row;
        text-align: center;
    }

    nav p {
        font-size: 30px;
        text-align: center;
        padding-left: 40%;
    }

    .figma, .uiux, .html-css, .tailwind {
        flex-direction: column;
    }

    .figma1, .figma2, .uiux1, .uiux2, .html-css1, .html-css2, .tailwind1, .tailwind2 {
        width: 100%;
        margin: 0;
        padding: 15px 0;
    }

    .figma2, .uiux1, .html-css2, .tailwind1 {
        padding-top: 10px;
        font-size: 25px;
        margin-left: 40%;
    }

    .figma1 img, .uiux2 img, .html-css1 img, .tailwind2 img{
        width: 650px;
        height: 100%;
    }

    .portfolio-title h1 {
        font-size: 50px;
        letter-spacing: 5px;
    }

    .social-icons {
        gap: 10px;
        padding-left: 150%;
        margin-top: 30%;
    } 

    .email {
        font-size: 24px;
        transform: translateY(-30px);
    }
}
